#auth {
    background: url('../../assets/images/login-bg.png') repeat-x left;
    background-size: 34%;
    background-color: black;
}

@media (min-width: 1200px) {
    #auth .container {
        width: 60% !important;
    }
}

#auth .container {
    position: relative;
}

#auth .container > .container {
    /* transition: all 1.2s cubic-bezier(0.31, -0.76, 0.58, 1); */
    transition: all 1.2s ease-out;
    position: relative;
}

#auth .container #login-form {
    position: absolute;
    clip-path: circle(0% at 0% 0%);
    /* transition: all 1.2s cubic-bezier(0.12, 0.98, 0.75, -0.38); */
    z-index: 1;
    border: 2px solid var(--accent-2);
}

#auth .container #sign-up-form {
    position: absolute;
    clip-path: circle(0% at 100% 100%);
    /* transition: all 1.2s cubic-bezier(0.31, -0.76, 0.58, 1); */
    z-index: 1;
    border: 2px solid var(--accent-2);
}

#auth .container #login-form.active,
#auth .container #sign-up-form.active {
    transition: all 1.2s cubic-bezier(0.12, 0.98, 0.75, -0.38);
    clip-path: circle(100%);
    z-index: 0;
}

#auth .form-group input {
    box-shadow: none;
    border: none;
}

#sign-up-form .anim-btn-1 {
    outline: none;
}

#sign-up-form .anim-btn-1::before {
    content: 'SIGN UP';
}
