.heading-text-2 {
    font-family: Staatliches;
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 50px;
}

#title-input,
#title-input:focus,
#title-input:active {
    border: 1px solid #ced4da;
    outline: none;
    box-shadow: none;
    background-color: transparent;
}

.Editor-block {
    width: 70%;
    height: auto;
    margin: 5rem auto;
    background-color: var(--bg-1);
    border: 3px solid var(--accent-2);
}

.quill p {
    height: 40vh;
    font-size: 1rem;
}
