#main-page{
    background-color: var(--bg-1-dark);
}

h3{
    font-family: Staatliches;
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 50px;

  }

.Editor-block{
    width: 70%;
    height: auto;
    margin: 5rem auto;
    background-color: var(--bg-1);
}

.editor{
    
}

#dropdown-row{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5rem;
}

#dropdown-basic{
    background-color: var( --blue-dark);
    text-transform: uppercase;
    font-family: Staatliches;
    font-style: normal;
    font-weight: 100;
   
   
    
}