#all-clubs .club-col {
    height: 20rem;
    cursor: pointer;
    transition: all 0.4s;
    border: 3px solid var(--accent-2);
}

@media (max-width: 1000px) {
    #all-clubs .club-col {
        height: 15rem;
    }
}

#all-clubs .club-col:hover {
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.5);
}

#all-clubs .club-col .club-name {
    font-size: 3.25rem;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.33);
}
