#navbar .navbar-brand img {
    height: 100%;
    width: 3rem;
    margin-right: 5%;
}

#navbar .nav-link#auth-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    padding: 0.25% auto;
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: var(--button-text);
    position: relative;
    z-index: 1;
    border: 2px solid var(--accent-2);
    color: var(--accent-2);
}

#navbar .nav-link#auth-button::before {
    content: 'LOGIN';
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5% 5%;
    transition: all 1.2s;
    border-radius: 7.5px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    clip-path: circle(0% at 100% 0%);
    color: var(--bg-2);
}

#navbar .nav-link#auth-button:hover::before {
    background-color: var(--accent-2);
    clip-path: circle(100%);
}
