#navbar {
    height: 7.5%;
    background-color: var(--translucent-bg-2);
    display: flex;
    width: 100%;
    padding: 0 2%;
}

#navbar #logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    cursor: pointer;
}

#navbar #logo img {
    /* height: 100%; */
    width: 20%;
    margin-right: 5%;
}

#navbar #logo h3 {
    font-size: 2rem;
}

#navbar #nav-links {
    flex: 5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navbar #nav-links .nav-link {
    text-decoration: none;
    color: var(--white);
}

#navbar #nav-links .nav-link#auth-button {
    padding: 0.5% 5%;
    border-radius: 10px;
    font-size: 1.25rem;
    font-family: var(--button-text);
    position: relative;
    z-index: 1;
    border: 2px solid var(--accent-2);
}

#navbar #nav-links .nav-link#auth-button::before {
    content: 'LOGIN';
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5% 5%;
    transition: all 1.2s;
    border-radius: 7.5px;
    width: 90%;
    height: 99%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    clip-path: circle(0% at 100% 0%);
}

#navbar #nav-links .nav-link#auth-button:hover::before {
    background-color: var(--accent-2);
    clip-path: circle(100%);
}
