@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Nunito:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* --bg-1: #2b2d42; */
    --bg-1: #e5e5e5;
    /* --bg-2: #8d99ae; */
    --bg-2: #ccc;
    --dark: #201a23;
    --translucent-bg-2: rgba(141, 153, 174, 0.3);
    --white: #edf2f4;
    --accent-2: #00adb5;
    --accent-1: #d80032;
    --button-text: 'Staatliches', cursive;
    --heading-text: 'Nunito', sans-serif;
}

html,
body,
#root {
    height: 100%;
}

#app {
    height: 100%;
    background-color: var(--bg-2);
    display: flex;
    flex-direction: column;
}

#app #main-page {
    flex: 15;
}

a {
    text-decoration: none;
}
